## Overview of the dataframe

In [1]:
import pandas
data = pandas.read_csv("./review_analysis/reviews.csv")

In [16]:
data

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
...,...,...,...,...
44995,Python for Beginners with Examples,2018-01-01 01:11:26+00:00,4.0,NaN
44996,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:09:56+00:00,5.0,NaN
44997,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:08:11+00:00,5.0,NaN
44998,Python for Beginners with Examples,2018-01-01 01:05:26+00:00,5.0,NaN
44999,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:01:16+00:00,5.0,NaN

## Selecting data from the dataframe

### Select a column

In [11]:
data["Rating"]

0        4.0
1        4.0
2        4.0
3        5.0
4        4.5
        ...
44995    4.0
44996    5.0
44997    5.0
44998    5.0
44999    5.0
Name: Rating, Length: 45000, dtype: float64

In [10]:
type(data["Rating"])

pandas.core.series.Series

### Select multiple columns

In [12]:
data[['Course Name', 'Rating']]

                                             Course Name  Rating
0      The Python Mega Course: Build 10 Real World Ap...     4.0
1      The Python Mega Course: Build 10 Real World Ap...     4.0
2      The Python Mega Course: Build 10 Real World Ap...     4.0
3      The Python Mega Course: Build 10 Real World Ap...     5.0
4      The Python Mega Course: Build 10 Real World Ap...     4.5
...                                                  ...     ...
44995                 Python for Beginners with Examples     4.0
44996  The Python Mega Course: Build 10 Real World Ap...     5.0
44997  The Python Mega Course: Build 10 Real World Ap...     5.0
44998                 Python for Beginners with Examples     5.0
44999  The Python Mega Course: Build 10 Real World Ap...     5.0

[45000 rows x 2 columns]

In [13]:
type(data[['Course Name', 'Rating']])

pandas.core.frame.DataFrame

### Selecting a row

In [14]:
data.iloc[3] # Use iloc method and row index

Course Name    The Python Mega Course: Build 10 Real World Ap...
Timestamp                              2021-04-02 03:33:24+00:00
Rating                                                       5.0
Comment                                                      NaN
Name: 3, dtype: object

In [15]:
type(data.iloc[3])

pandas.core.series.Series

### Selecting multiple rows

In [17]:
data.iloc[1:3]

,Course Name,Timestamp,Rating,Comment
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN

### Selecting a section

In [19]:
data[['Course Name', 'Rating']].iloc[1:3]

                                         Course Name  Rating
1  The Python Mega Course: Build 10 Real World Ap...     4.0
2  The Python Mega Course: Build 10 Real World Ap...     4.0

### Selecting a cell

In [23]:
data['Rating'].iloc[2]

4.0

In [24]:
type(data['Rating'].iloc[2])

numpy.float64

### Another more common way to select cell

In [25]:
data.at[2, 'Rating']

4.0