In [2]:
# Making a basic bokeh line graph with minimum requirements

# importing bokeh and pandas
from bokeh.plotting import figure
from bokeh.io import output_file, show
import pandas

# Prepare some data
df = pandas.read_csv('./files/bokeh/data.csv')
x = df["x"]
y = df["y"] # Bokeh can read normal lists or the panda data structures

# Prepare output file
output_file("./files/bokeh/line_from_csv.html")

# Create figure object
f = figure()

# Create line plot
f.line(x, y)

# Show object
show(f)

Opening in existing browser session.

[29615:29615:0100/000000.505508:ERROR:sandbox_linux.cc(376)] InitializeSandbox() called with multiple threads in process gpu-process.

In [3]:
df

   x   y
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [4]:
df["x"]

0    1
1    2
2    3
3    4
4    5
Name: x, dtype: int64